@model BBMS1.Models.Donors
@{
    ViewBag.Title = "DeleteDonor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h2>DeleteDonor</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd>@Model.Name</dd>
        <dt>Age:</dt>
        <dd>@Model.Age</dd>
        <dt>Phone:</dt>
        <dd>@Model.Phone</dd>
        <dt>Gender:</dt>
        <dd>@Model.Gender</dd>
        <dt>Blood Group:</dt>
        <dd>@Model.BloodGroup</dd>
        <dt>Address:</dt>
        <dd>@Model.Address</dd>
    </dl>
    @using (Html.BeginForm("Delete", "Login"))
    {
        @Html.HiddenFor(m => m.Id)
        <button type="submit" class="btn btn-danger">Delete</button>
    }
    @Html.ActionLink("Cancel","Donors","Login")
</div>


