@model List<BBMS1.Models.Donors>
@{
    ViewBag.Title = "Donors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Donors Data</h2>

<style>
   body{
       font-family:Arial,sans-serif;
       margin:0;
       padding:0;
       background-color:#f0f0f0;
   }
   table{
       width:100%;
       margin-top:20px;
   }
   th,td{
       padding:10px;
       text-align:left;
       border-bottom:1px solid #ddd;
   }
   th{
       background-color:chartreuse;
       color:black;
   }
   tr:hover{
       background-color:#f5f5f5;
   }
    
</style>
@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <tr>
            <th> Name</th>
            <th> Age</th>
            <th>Gender</th>
            <th>Phone Number</th>
            <th>Blood Group</th>
            <th>Address</th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Age</td>
                <td>@user.Gender</td>
                <td>@user.Phone </td>
                <td>@user.BloodGroup</td>
                <td>@user.Address</td>
                <td>
                    <div style="display: flex;">
                        @using (Html.BeginForm("EditDonor", "Login", new { id = user.Id }, FormMethod.Post))
                                    {
                                        @Html.HiddenFor(m => user.Id)
                                        <button type="submit" class="btn btn-primary" style="margin-right: 10px;">Edit</button>
                            }
                            @using (Html.BeginForm("DeleteDonor", "Login", new { id = user.Id }, FormMethod.Post))
                        {
                            @Html.HiddenFor(m => user.Id)
                            <button type="submit" class="btn btn-danger" style="margin-right: 10px;">Delete</button>
                        }
                        @using (Html.BeginForm("Donation", "Login", new { id = user.Id }, FormMethod.Post))
                        {
                            @Html.HiddenFor(m => user.Id)
                            <button type="submit" class="btn btn-success">Donate</button>
                        }
                    </div>
                    @*@Html.ActionLink("Edit", "EditDonor", new { id = user.Id })
        @Html.ActionLink("Delete", "DeleteDonor", new { id = user.Id })
        @Html.ActionLink("Donate", "Donation", new { id = user.Id })*@

                </td>
            </tr>
        }
    </table>
}
else
{
    <p> No users Available </p>
}
@Html.ActionLink("Back", "UserDashboard", "Login")
@if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["SuccessMessage"]
                </div>
            }

