@model List<BBMS1.Models.UserModel1>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <table class="table">
        <tr>
            <th>Emp Name</th>
            <th>Password</th>
            <th>Phone Number</th>
            <th>Email</th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Password</td>
                <td>@user.Phone</td>
                <td>@user.Email</td>
                <td>
                    @Html.ActionLink("Edit", "EditUser", new { id = user.Id })
                    @Html.ActionLink("Delete", "DeleteUser", new { id = user.Id })
                </td>
            </tr>
        }
    </table>


@Html.ActionLink("Back", "Employee", "Admin")